{% extends 'layout/base.html.twig' %}




{% block body %}

    <div class="card">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="card-body">
                    <h1 class="card-title">
                        Website list
                    </h1>
                    <hr/>
                    <div class="card-body">

                        <div class="row justify-content-end">

                        </div>
                        <div class="row">
                            <table class="table table-xs" id="table">
                                <thead class="table-primary"></thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block javascript %}

    <script>
        const columns = [
            {
                title: 'ID',
                field: 't_id',
                visible: true,
                align: "center",
                sortName: 't.id',
                halign: "center"
            },
            {
                title: 'Name',
                field: 't_name',
                sortable: true,
                sortName: 't.name',
                halign: "center"
            },
            {
                title: 'address',
                field: 't_address',
                sortable: false,
                visible: false,
                halign: "center"
            },
            {
                title: 'URL',
                field: 't_url',
                sortable: true,
                sortName: 't.url',
                halign: "center",
                formatter: (value, row) => {
                    if(value){
                        return "<a href='"+value+"' target='_blank'>"+value+"</a";
                    } else {
                        return "-"
                    }
                }
            },
            {
                title: 'phone',
                field: 't_phone',
                sortable: true,
                sortName: 't.phone',
                halign: "center",
                align: "center"
            },
            {
                title: 'token',
                field: 't_token',
                sortable: false,
                sortName: 't.phone',
                halign: "center",
                align: "center"
            },
            {
                title: 'Status',
                field: 't_isEnabled',
                sortable: true,
                sortName: 't.isEnable',
                align: "center",
                halign: "center",
                formatter: function (value, row) {
                    if (value)
                        return "<span class='badge badge-success'>Enabled</span>";

                    return "<span class='badge badge-danger'>Disabled</span>";
                }
            },
            {
                title: 'Created at',
                field: 't_createdAt',
                sortable: true,
                sortName: 't.createdAt',
                align: "center",
                halign: "center",
                formatter: function (value, row) {
                    if (value == undefined)
                        return "-";
                    var date = moment(value);
                    return date.format('DD-MMM-YYYY');
                }
            },
            {
                title: 'Action',
                field: 't_id',
                sortable: false,
                align: "center",
                sortName: 't.lastName',
                halign: "center",
                formatter: function (data, row, index) {
                    let ch = '<a href="' + Routing.generate('app_website_edit', {website: data}) + '" target="" class="btn btn-primary btn-sm" ><i class="fa fa-pencil" aria-hidden="true"></i></a>';
                    return ch;
                }
            },

        ];

        $(document).ready(function () {
            const $table = $('#table');

            $table.bootstrapTable({
                toggle: "table",
                url: Routing.generate('app_website_list'),
                sidePagination: "server",
                loadingFontSize: '14px',
                visibleSearch: true,
                buttons: {
                    btnAddUser: {
                        text: 'Add user',
                        icon: 'fa fa-user-plus',
                        html: '<a href="{{ path('app_website_add') }}" class="btn btn-success ml-2"><i class="fa  fa-user-plus" aria-hidden="true"></i> Add website</a>'
                    }
                },
                buttonsClass: '',

                pageSize: 10,
                pageList:[10, 25, 50, 100],
                pagination: true,
                paginationSuccessivelySize: 3,
                paginationPagesBySide: 3,
                paginationUseIntermediate: true,
                paginationLoop: false,
                paginationNextText: 'Next >',
                paginationPreText: '< Prev',

                sortName: "t.id",
                sortOrder: "desc",
                toolbar: "#toolbar",
                filterControl: "true",
                queryParams: function queryParams(params) {
                    params.columns = columns;
                    return params
                },
                search: "true",
                columns: columns,
            })
        });


    </script>
{% endblock %}