{% extends 'base.html.twig' %}

{% block title %}Evacuation Sanitaire{% endblock %}

{% block body %}

    <div class="cs_height_185 cs_height_xl_150 cs_height_lg_110"></div>

    <!-- Start About Section -->
    <section class="cs_about cs_style_1">
        <div class="container">
            <div class="row align-items-center flex-lg-row flex-column-reverse cs_gap_y_40">
                <div class="col-lg-7">
                    <div class="cs_height_55"></div>
                    <div class="cs_about_img">
                        <img src="{{ asset('templatefront/assets/img/home_1/about.png') }}" alt="About">
                        <div class="cs_about_mini_img">
                            <img src="{{ asset('templatefront/assets/img/home_1/about_mini.svg') }}" alt="Mini" class="cs_rotate_animation">
                            <img src="{{ asset('templatefront/assets/img/icons/tick.svg') }}" alt="Right" class="cs_right_icon">
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="cs_about_content">
                        <div class="cs_section_heading cs_style_1">
                            <h2 class="cs_section_title cs_fs_72 m-0">Conventions avec Évacuation Sanitaire Tunisie :</h2>
                            <div class="cs_height_5"></div>
                            <h3 class="cs_section_subtitle text-uppercase cs_accent_color cs_semibold m-0 cs_accent_color cs_fs_32">Partenariats pour des Soins de Qualité</h3>
                        </div>
                        <div class="cs_height_72 cs_height_lg_50"></div>
                        <ul class="cs_about_text_list">
                            <li>
                                <i class="cs_accent_color">
                                    <svg width="35" height="24" viewBox="0 0 35 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M34.5342 13.0789L23.3977 23.5789C23.0977 23.8522 22.6958 24.0034 22.2787 23.9999C21.8615 23.9965 21.4625 23.8388 21.1675 23.5607C20.8726 23.2825 20.7053 22.9063 20.7016 22.513C20.698 22.1197 20.8584 21.7408 21.1482 21.4579L29.5689 13.5184H1.59092C1.16899 13.5184 0.764327 13.3604 0.465971 13.0791C0.167615 12.7978 0 12.4163 0 12.0184C0 11.6206 0.167615 11.2391 0.465971 10.9578C0.764327 10.6765 1.16899 10.5184 1.59092 10.5184H29.5689L21.1482 2.57893C20.9962 2.44056 20.875 2.27505 20.7916 2.09204C20.7083 1.90903 20.6644 1.7122 20.6625 1.51303C20.6607 1.31386 20.7009 1.11635 20.7809 0.932003C20.8609 0.747658 20.9791 0.580179 21.1284 0.439341C21.2778 0.298502 21.4554 0.18712 21.651 0.111698C21.8465 0.0362778 22.056 -0.00167465 22.2672 5.53131e-05C22.4785 0.00178719 22.6872 0.0431671 22.8813 0.12178C23.0754 0.200394 23.251 0.314665 23.3977 0.457932L34.5342 10.9579C34.8325 11.2392 35 11.6207 35 12.0184C35 12.4162 34.8325 12.7976 34.5342 13.0789Z" fill="#307BC4"/>
                                    </svg>
                                </i>
                                <h3 class="cs_normal cs_fs_32 cs_body_color">Partenariats pour des Soins de Qualité</h3>
                                <p class="m-0">Nous sommes déterminés à établir des partenariats stratégiques avec les ministères, mutuelles, assurances et autres structures pour assurer une prise en charge rapide et professionnelle de leurs bénéficiaires en cas d'urgence médicale.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Section -->

    <div class="cs_height_185 cs_height_xl_150 cs_height_lg_110"></div>

    <section class="cs_shape_wrap">
        <div class="cs_shape_1 cs_position_1"></div>
        <div class="container">
            <div class="row flex-xl-row flex-column-reverse">
                <div class="col-xl-5">
                    <div class="cs_pr_95 text-center cs_img_filed">
                        <img src="/templatefront/assets/img/about/why_choose_us.jpeg" alt="Why Choose Us" class=" cs_radius_30">
                    </div>
                </div>
                <div class="col-xl-7">
                    <div class="cs_section_heading cs_style_1">
                        <h2 class="cs_section_title cs_fs_72 m-0">Qui Peut Bénéficier de Nos Conventions ?</h2>
                    </div>
                    <div class="cs_height_85 cs_height_xl_70 cs_height_lg_50"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="cs_iconbox cs_style_6">

                                <h2 class="cs_iconbox_title cs_fs_32 cs_semibold">Ministères de la Santé </h2>
                                <p class="cs_iconbox_subtitle m-0">Pour faciliter le transfert rapide et sécurisé de patients nécessitant des soins spécialisés.</p>
                            </div>
                            <div class="cs_height_85 cs_height_xl_60 cs_height_lg_35"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="cs_iconbox cs_style_6">

                                <h2 class="cs_iconbox_title cs_fs_32 cs_semibold">Mutuelles et Assurances</h2>
                                <p class="cs_iconbox_subtitle m-0">Pour assurer une couverture médicale d'urgence efficace et rassurante pour leurs adhérents.</p>
                            </div>
                            <div class="cs_height_85 cs_height_xl_60 cs_height_lg_35"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="cs_iconbox cs_style_6">

                                <h2 class="cs_iconbox_title cs_fs_32 cs_semibold">Agences de Voyage </h2>
                                <p class="cs_iconbox_subtitle m-0">Pour garantir la sécurité et le bien-être des voyageurs confrontés à des situations médicales critiques.</p>
                            </div>
                            <div class="cs_height_85 cs_height_xl_60 cs_height_lg_35"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="cs_iconbox cs_style_6">

                                <h2 class="cs_iconbox_title cs_fs_32 cs_semibold">Autres Structures de <br>Santé et Sociales </h2>
                                <p class="cs_iconbox_subtitle m-0">: Pour collaborer à la gestion proactive des urgences médicales et améliorer la qualité des soins. </p>
                            </div>
                            <div class="cs_height_85 cs_height_xl_60 cs_height_lg_35"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="cs_height_185 cs_height_xl_140 cs_height_lg_100"></div>
        <div class="container">
            <div class="cs_section_heading cs_style_1">
                <h2 class="cs_section_title cs_fs_72 m-0">Découvrez comment une convention avec nous peut bénéficier à votre organisation :</h2>
                <div class="cs_height_5"></div>
                <div class="cs_height_5"></div>
                <h3 class="cs_section_subtitle text-uppercase cs_accent_color cs_semibold m-0 cs_accent_color cs_fs_32">Pourquoi Choisir Évacuation Sanitaire Tunisie ?</h3>
            </div>
            <div class="cs_height_72 cs_height_lg_50"></div>
            <div class="row gy-3 justify-content-center ">
                <div class="col-xxl-3 col-md-6">
                    <div class="cs_iconbox cs_style_1 cs_shadow_1 cs_radius_15">
                        <div class="cs_iconbox_top">
                            <div class="cs_iconbox_icon cs_radius_15 cs_accent_bg cs_center">
                                <img src="/templatefront/assets/img/icons/award.svg" alt="Award">
                            </div>
                            <h2 class="cs_iconbox_title cs_medium cs_fs_20 m-0">Accès Prioritaire et Tarifs Avantageux</h2>
                        </div>
                        <p class="cs_iconbox_text">Bénéficiez d'un accès prioritaire à nos services d'évacuation sanitaire et de tarifs préférentiels adaptés à vos besoins spécifiques.</p>
                    </div>
                </div>
                <div class="col-xxl-3 col-md-6">
                    <div class="cs_iconbox cs_style_1 cs_shadow_1 cs_radius_15">
                        <div class="cs_iconbox_top">
                            <div class="cs_iconbox_icon cs_radius_15 cs_accent_bg cs_center">
                                <img src="/templatefront/assets/img/icons/award.svg" alt="Award">
                            </div>
                            <h2 class="cs_iconbox_title cs_medium cs_fs_20 m-0">Sécurité et Fiabilité</h2>
                        </div>
                        <p class="cs_iconbox_text">Nous garantissons des normes de sécurité rigoureuses et une fiabilité inégalée grâce à notre expertise médicale et à nos équipements de pointe.</div>
                </div>
                <div class="col-xxl-3 col-md-6">
                    <div class="cs_iconbox cs_style_1 cs_shadow_1 cs_radius_15">
                        <div class="cs_iconbox_top">
                            <div class="cs_iconbox_icon cs_radius_15 cs_accent_bg cs_center">
                                <img src="/templatefront/assets/img/icons/award.svg" alt="Award">
                            </div>
                            <h2 class="cs_iconbox_title cs_medium cs_fs_20 m-0">Réseau Étendu et Coordination Optimale</h2>
                        </div>
                        <p class="cs_iconbox_text">Profitez de notre vaste réseau de partenaires médicaux à travers la Tunisie pour une coordination rapide et efficace en cas d'urgence.
                    </div>
                </div>
            </div>
        </div>

        <div class="cs_height_185 cs_height_xl_150 cs_height_lg_110"></div>
    </section>

    <section>
        <div class=" "></div>
        <div class="container">
            <div class="cs_section_heading cs_style_1 text-center">
                <div class="cs_height_5"></div>
                <h2 class="cs_section_title cs_fs_72 m-0">Comment Collaborer avec Nous ?</h2>
            </div>
            <div class="cs_height_72 cs_height_lg_50"></div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="cs_accordians cs_style1 cs_heading_color">
                        <!-- .cs_accordian -->
                        <div class="cs_accordian active">
                            <h2 class="cs_accordian_head cs_heading_color">
                                Contactez-nous
                                <span class="cs_accordian_arrow">
                    <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M-6.11959e-07 14C-2.74531e-07 21.7195 6.28053 28 14 28C21.7195 28 28 21.7195 28 14C28 6.28053 21.7195 -9.49388e-07 14 -6.11959e-07C6.28053 -2.74531e-07 -9.49388e-07 6.28053 -6.11959e-07 14ZM26.25 14C26.25 20.7548 20.7548 26.25 14 26.25C7.24522 26.25 1.75 20.7548 1.75 14C1.75 7.24522 7.24522 1.75 14 1.75C20.7548 1.75 26.25 7.24522 26.25 14ZM13.3814 8.13137C13.7233 7.78947 14.2769 7.78947 14.6186 8.13137L18.9936 12.5064C19.1645 12.6772 19.25 12.9012 19.25 13.125C19.25 13.3488 19.1645 13.5728 18.9936 13.7436C18.6517 14.0855 18.0981 14.0855 17.7564 13.7436L14.875 10.8622L14.875 19.25C14.875 19.7332 14.4837 20.125 14 20.125C13.5163 20.125 13.125 19.7332 13.125 19.25L13.125 10.8622L10.2436 13.7436C9.90172 14.0855 9.34806 14.0855 9.00637 13.7436C8.66469 13.4017 8.66447 12.8481 9.00637 12.5064L13.3814 8.13137Z" fill="#307BC4"/>
                    </svg>
                  </span>
                            </h2>
                            <div class="cs_accordian_body">
                                <p>Contactez-nous dès aujourd'hui pour discuter des avantages d'une convention avec Évacuation Sanitaire Tunisie : <br> <br> <b> Rejoignez-nous pour garantir une prise en charge rapide et efficace de vos bénéficiaires en cas d'urgence médicale. Ensemble, nous pouvons assurer leur sécurité et leur bien-être optimal. </b></div>
                        </div><!-- .cs_accordian -->

                    </div><!-- .cs_accordians -->
                </div>
            </div>
        </div>
        <div class="cs_height_190 cs_height_xl_145 cs_height_lg_105"></div>
    </section>
    <!-- Start Contact Section -->
    <section>
        <div class="container cs_mt_minus_110">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cs_contact_form cs_style_1 cs_white_bg cs_radius_30">
                        <div class="row">
                            <div class="col-lg-6">
                                <label class="cs_input_label cs_heading_color">Nom</label>
                                <input type="text" class="cs_form_field" placeholder="David John">
                                <div class="cs_height_42 cs_height_xl_25"></div>
                            </div>
                            <div class="col-lg-6">
                                <label class="cs_input_label cs_heading_color">Email</label>
                                <input type="email" class="cs_form_field" placeholder="example@gmail.com">
                                <div class="cs_height_42 cs_height_xl_25"></div>
                            </div>
                            <div class="col-lg-12">
                                <label class="cs_input_label cs_heading_color">Sujet</label>
                                <input type="text" class="cs_form_field" placeholder="Your subject">
                                <div class="cs_height_42 cs_height_xl_25"></div>
                            </div>
                            <div class="col-lg-12">
                                <label class="cs_input_label cs_heading_color">Message</label>
                                <textarea cols="30" rows="10" class="cs_form_field" placeholder="Write something..."></textarea>
                                <div class="cs_height_42 cs_height_xl_25"></div>
                            </div>
                            <div class="col-lg-12">
                                <div class="cs_height_18"></div>
                                <button class="cs_btn cs_style_1">
                                    <span>Submit</span>
                                    <i>
                                        <img src="/templatefront/assets/img/icons/arrow_white.svg" alt="Icon">
                                        <img src="/templatefront/assets/img/icons/arrow_white.svg" alt="Icon">
                                    </i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cs_height_200 cs_height_xl_150 cs_height_lg_100"></div>
            <h2 class="cs_fs_72 mb-0">Contactez-nous:</h2>
            <div class="cs_height_70 cs_height_lg_50"></div>
            <div class="row g-4 g-xl-3 g-xxl-5">
                <div class="col-xl-4">
                    <div class="cs_iconbox cs_style_11 cs_radius_25">
                        <div class="cs_iconbox_icon">
                            <img src="/templatefront/assets/img/contact/icon_1.svg" alt="Icon">
                        </div>
                        <div class="cs_iconbox_right">
                            <h3 class="cs_iconbox_title cs_fs_24 mb-0">Téléphone</h3>
                            <p class="cs_iconbox_subtitle mb-0 cs_heading_color">0021696750077</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="cs_iconbox cs_style_11 cs_radius_25">
                        <div class="cs_iconbox_icon">
                            <img src="/templatefront/assets/img/contact/icon_2.svg" alt="Icon">
                        </div>
                        <div class="cs_iconbox_right">
                            <h3 class="cs_iconbox_title cs_fs_24 mb-0">Email</h3>
                            <p class="cs_iconbox_subtitle mb-0 cs_heading_color">contact@mondial-sante.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="cs_iconbox cs_style_11 cs_radius_25">
                        <div class="cs_iconbox_icon">
                            <img src="/templatefront/assets/img/contact/icon_3.svg" alt="Icon">
                        </div>
                        <div class="cs_iconbox_right">
                            <h3 class="cs_iconbox_title cs_fs_24 mb-0">Localisation</h3>
                            <p class="cs_iconbox_subtitle mb-0 cs_heading_color">3 Rue du Lac De Garde, Tunis</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- End Contact Section -->


{% endblock %}